<ion-header>
  <ion-navbar>
    <ion-title>
      App Gastos
      <!--<p col-10 col-sm-11 class="subtitle">Hojas de Cargo</p>-->
    </ion-title>
    <button ion-button end menuToggle>
      <!--<ion-icon name="menu"></ion-icon>-->
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-row no-padding>
    <ion-col col-10 col-sm-10>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="newExpense.name" name="name"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-2 col-sm-2>
      <ion-item>
        <ion-label>Descr.</ion-label>
        <ion-checkbox [(ngModel)]="hasDescription"></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row no-padding>
    <ion-col col-8 col-sm-8>
      <ion-item>
        <ion-label>Tipo</ion-label>
        <select name="type" [(ngModel)]="newExpense.type">
          <option *ngFor="let type of types" [ngValue]="type.name">{{type.name}}
          </option>
        </select>

        <ion-input type="text" [(ngModel)]="newExpense.type" name="type"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-4 col-sm-4>
      <ion-item>
        <ion-label>Monto</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="newExpense.rode" name="rode"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row no-padding>
    <ion-col col-9 col-sm-9 [hidden]="!hasDescription">
      <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-textarea [(ngModel)]="newExpense.description" name="description"></ion-textarea>
      </ion-item>
    </ion-col>

    <ion-col col-3 col-sm-3>
      <button ion-button type="submit" (click)="saveExpense(newExpense)">Agregar</button>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-list [hidden]="!hasExpenses">
      <ion-item>
        <ion-row no-padding>
          <ion-col col-3 col-sm-3>
            Gasto
          </ion-col>
          <ion-col col-3 col-sm-3>
            Tipo
          </ion-col>
          <ion-col col-3 col-sm-3>
            Monto
          </ion-col>
          <ion-col col-1 col-sm-2>
            Fecha
          </ion-col>

          <ion-col col-1 col-sm-1>
          </ion-col>


        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list [hidden]="!hasExpenses">
      <ion-item *ngFor="let exp of expensesToShow">
        <ion-row no-padding>
          <ion-col col-3 col-sm-3>
            {{exp.name}}
          </ion-col>
          <ion-col col-3 col-sm-3>
            {{exp.type}}
          </ion-col>
          <ion-col col-3 col-sm-3>
            {{exp.rode}}
          </ion-col>
          <ion-col col-2 col-sm-2>
            {{exp.date}}
          </ion-col>
          <ion-col col-1 col-sm-1>
            <button ion-button type="danger" (click)="deleteExpense(exp)"></button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-row [hidden]="hasExpenses">
      No se encuentran gastos para este rango de fechas.
    </ion-row>
  </ion-item>

</ion-content>

<ion-footer>
  Total: {{getTotal()}}
</ion-footer>
